{% extends 'base.html' %}
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    {% load static %}

</head>
<body>
    {% block content %}

        <form method="POST">
            {% csrf_token %}

                {{ comment_form }}

            <br>
            <input class="btn btn-light" type="submit" value="Submit"></input>
        </form>

        <br>
        <br>
        <form method="POST" action="{% url 'article' article_id %}">
                {% csrf_token %}
                <input class="btn btn-danger" type="submit" value="Cancel"></input>
            </form>

	{% endblock %}
</body>
</html>